<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-header text-center">SignUp</h5>
          <div class="card-body">
            <form  [formGroup]="signupForm" (ngSubmit)="signup()">
              <div class="mb-3">
                <label for="username" class="form-label">Insert Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Insert Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Insert Role</label>
                <input type="text" class="form-control" id="role" formControlName="role" placeholder="Role">
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Signup</button>
               <!--  <span>Do have an account? 
                <a [routerLink]="['/login']" routerLinkActive>Login</a></span> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
